<%- include("partials/header.ejs") %>


<section class="mt-4">
<div class="container">
  <h1>About This Project</h1>
  <p>This is a mini-project, where I want to practice using a public API (in this case the DWDS one), and get some requests for it.</p>
</div>


<%- include("partials/footer.ejs") %>