<%- include("partials/header.ejs") %>


<section class="mt-4">
<div class="container">
  <h1>Contact Me</h1>
  <p>Here a contact form will be created for feedback and suggestions.</p>
</div>


<%- include("partials/footer.ejs") %>